body {
 background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.container {
    
    margin: 0 auto;

}

button {
    background-color: black;
    color: white;
    border-radius: 20px ;
    padding: 10px;
    border-color: black;
}

h3 {
    text-align: left;
}

.container2 {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

span {
    color: rgb(130, 226, 230);
}

.row {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    
}